@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:wght@200;300;400&display=swap');
:root{
    --primary : #438ce9;
    --main_bg : #f0f2f5;
    --sec_bg :  #ffffff;
    --text : #696969;
    --box : #f0f2f5;
    --danger: #e41e3f;
    --successs: #45bd62;
    --yellow: #fce8b8

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}
body{
    background-color: var(--main_bg);
    font-family: 'Poppins', sans-serif;

}
.nav{
    background-color: var(--sec_bg);
    display: flex;
    position: sticky;
    top: 0;
}
.left{
    
    width: 25%;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 10px;
    margin-right: 10px;
}
.logo img{
    width: 40px;

}
.search-box{
    width: 210px;
    height: 41px;
    margin: 15px 0;
    background-color: var(--box);
    padding: 10px;
    border-radius: 10px;
}

    
.input{
    background-color: var(--box);
    margin-left: 5px;
    border: none;
}
.input:focus{
    outline: none;
}

.center{
    width: 50%;
}
.center-link-box{
    display: flex;
    align-items: center;
    
}
.center-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 130px;

}
.fa-house{
    color: var(--primary);
}
.noti-box{
    position: relative;
    
}
.noti{
    font-size: 12px;
    background-color: var(--danger);
    color: #ffffff !important;
    border-radius: 45%;
    position: absolute;
    top: 17px;
    left: 43px;
    width: 30px;
    height: 20px;
    padding: 6px;
    
    
}
.center-link:hover{
    background-color: var(--box);
    border-radius: 10px;
   
    transition: 0.5s;
    
}
.fa-house:hover{
    background-color: var(--sec_bg);
}
.right{
    width: 25%;
}
.right-box{
    padding: 10px;
    display: flex;
    align-items: center;
}
.profile{
    width: 100px;
    height: 50px ;
    display: flex;
    align-items: center;
  
}
.profile-img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.profile:hover{
    background-color: var(--box); 
    border-radius: 10px;
}
.right-noti-box{
    display: flex;
}
.right-noti{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--box);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}
.right-noti:hover{
    background-color: #999999;
    transition: 0.5s;
}
/*bottom paragraph*/
.fb{
    display: flex;
    height: 100vh;
   
}
.setting{
    width: 25%;
    padding: 15px;
    height: 100vh;
    overflow: scroll;
}
.settingItem{
    display: flex;
    margin-bottom: 30px;
}
.setting-img img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   
}
.setting-name{
    margin-left: 20px;
    text-align: center;
}

.news-feed{
    width: 50%;
    overflow: scroll;
    
}
.myday-list{
    margin-top: 10px;
    display: flex;
    width: 100%;
    
    
}
.myday-item{
    width: 20%;
    height: 210px;
    border-radius: 15px;
    background-image: url(./mina/tzuyu3.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 5px;
    color: var(--text);
    
    
    
}
.bg1{
    background-image: url(./mina/mina1.jpg);
    
}
.bg2{
    background-image: url(./mina/mina2.jpg);
}
.bg3{
    background-image: url(./mina/tzuyu2.jpg);
}
.bg4{
    background-image: url(./mina/tzuyu.jpg);
}
.myday-owner{
   width: 40px;
   height: 40px;
   background-color: var(--primary);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
    
}
.myday-owner-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.caption{
    color: #ffffff;
    font-weight: bolder;
}

.add-post{
    width: 88%;
    background-color: var(--sec_bg);
    padding: 10px;
    margin: 10px auto;

}
.writeFeed{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

   
.writeFeed .picture img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.whats{
    width: 210px;
    height: 41px;
    margin: 15px 0;
    background-color: var(--box);
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;

}
.divider{
    border: 0.1px solid #f0f2f9;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-grow: 1;
}
.fa-video{
   color: var(--danger);
}
.fa-photo-film{
   color: var(--successs); 
}
.fa-face-grin{
   color: var(--yellow);
}
.active-box{
    width: 88%;
    background-color: var(--sec_bg);
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.create-room{
    width: 150px;
    height: 34px;
    border: 0.1px solid rgb(181, 181, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.create-room:hover{
    background-color: #f0f2f9;
}
.create-room span{
    color: var(--primary);
}
.active{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.active-img{
    position: relative;
}
.active-img img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   
}

.create{
    color: #ac4bb2;
}
.new-post{
    width: 88%;
    background-color: var(--sec_bg);
    
    margin: 10px auto;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.pp img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.barnyar1{
    display: flex;
}
.pp-name{

}
.time{
    margin-right: 5px;

}
.public{

}
.caption{
   
    padding: 10px;
}
.post-img{
    
}
.post-img img{
    width: 100%;
}
.reaction{
   
}
.count{
    display: flex;
    justify-content: space-evenly;
}
.fa-heart{
    margin-right: 5px;
    color: #e41e3f;
}
.heart{
    display: flex;
    align-items: center;
}
.divider1{
    border: 0.1px solid #f0f2f9;
    margin: 10px 0;
    width: 80%;
    
}
.chats{
    width: 25%;
}

